@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
.btn-a{
    background-color: #FFD700;
    padding: 0.6rem 1.4rem;
}
button{
    border: none;
    cursor: pointer;
}

/* NAVBAR */
#navbar{
    width: 100%;
    padding: 1rem 2rem;
    background-color:#FFD700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LANDING SECTION */
.landing-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    position: relative;
    background: url("./images/landingBg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    text-align: center;
}
.landing-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.672);
}
.landing-section h1{
    position: relative;
    color: #FFD700;
}
.landing-section p{
    position: relative;
    max-width: 600px;
}
.landing-section .btn-a{
    position: relative;
}
/* SERVICE SECTION */
.service-section{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.service-section-bottom{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}
.service-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.service-card img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.service-card p{
    font-size: 12px;
}
/* ABOUT SECTION */
.about-section{
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
.about-section-left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.about-section-left p{
    font-size: 12px;
}
/* CONTACT SECTION */
.contact-section{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.contact-section h2{
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-field{
    width: 300px;
}
textarea{
    height: 100px;
    resize: none;
}
.contact-form .btn-a{
    cursor: pointer;
    border: none;
}
/* TESTIMONIAL-SECTION */
.testimonial-section{
    background-color: rgb(60, 60, 60);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.testimonial-section h2{
    text-align: center;
    color: white;
}
.scroll-section{
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
}
.scroll-section::-webkit-scrollbar{
    display: none;
}
.testimonial-card{
    min-width: 270px;
    max-width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: #FFD700;
    padding: 2rem 2rem;
    font-size: 12px;
    border-radius: 8px;
}
.testimonial-card h3{
    font-size: 1.4rem;
}

@media screen and (max-width:500px) {
    .landing-section{
        padding: 2rem 2rem;
    }
    h1{
        font-size: 3rem;
    }
}